body {
    background-color: #1b1b1b;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.page {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: relative;
    background-color: antiquewhite;
    padding: 50px;
    width: 900px;
    box-shadow: 0 20px 60px #f4f0e3;

    border: 1px solid black;
    border-radius: 6px;


}

.sign {
    font-size: 15px;
    text-align: center;
}

.watermark {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.1em;
    opacity: 0.7;
    position: absolute;
    top: 60px;
    right: 20px;
    color: rgba(197, 58, 58);
    border: 3px solid rgba(197, 58, 58);
    border-radius: 10px;
    transform: rotate(-10deg);
    z-index: 1;
}

.photo_wrapper {
    position: absolute;
    width: 200px;
    top: 60px;
    left: 680px;
    transform: rotate(3deg);


}

.photo img {

    width: 100%;
    display: block;
}

span {
    font-family: "Patrick Hand", cursive;
    font-style: italic;
    opacity: 0.85;
    letter-spacing: 0.3px;
    color: #444;
    font-weight: lighter;
    font-size: smaller;
    display: block;
    margin-top: 2px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 26px;
    margin-top: 22px;
    margin-bottom: 6px;
    line-height: 1.2;
}

a {
    color: #003366;
    text-decoration: underline;
    font-weight: bold;
}