body {
  font-family: Arial, sans-serif;

  line-height: 1.6;

  margin: 20px;
  background-color: #e9646b5e;

  color: #9a1717c7;

}


h1,
h2 {
  color: #711423da;
  margin-bottom: 10px;
}

h1 {
  font-size: 32px;
  border-bottom: 2px solid #711423da;
  padding-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 28px;
  font-weight: bold;
}

.contact-info {
  font-size: 14px;
}


.section {
  margin-top: 20px;
}


.section h2 {
  border-left: 4px solid #b92960b6;
  padding-left: 10px;
}


ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}


.highlight {
  font-weight: bold;
}


.contact-item {
  margin-bottom: 5px;

}